{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}

    <h1> Bonjour et welcome on the home page ! <!-- To do !! link helium, presente your service -->  <h1> 

    <h2> Our Service </h2> 

    
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> Scrapping Maps </h5>
            <h6 class="card-subtitle mb-2 text-muted"> Scrapping Maps </h6>
            <p class="card-text"> Scrapping Maps is a service, monetize your credit with mail</p>

            <a href="{{ path('scrapping_mail') }}" class="card-link">Go !</a>
            
        </div>
    </div>

    <br/>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> Clean Mailer </h5>
            <h6 class="card-subtitle mb-2 text-muted">  Clean Mailer </h6>
            <p class="card-text">  Clean Mailer is a service for clean your mailing list</p>

            <a href="#" class="card-link">Go !</a>
            
        </div>
    </div>

    <br/>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> API Mailing </h5>
            <h6 class="card-subtitle mb-2 text-muted">  Clean Mailer </h6>
            <p class="card-text">  API Mailing is a service exposing different mailing source</p>

            <a href="#" class="card-link">Go !</a>
            
        </div>
    </div>

   
        
      
   

{% endblock %}

